@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 0.2px;
}
body {
  background-color: #f8f9fa;
}

.form-control:focus,
.form-select:focus {
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
  border-color: #ff0000;
}
.btn:focus,
.btn-close:focus {
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}
.accordion-button:focus {
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
  border-color: #ff0000;
}
.fw-mine {
  font-weight: 500 !important;
}
.bg-mine {
  background-image: linear-gradient(90deg, #ff0000, #ff6200);
}
.text-mine {
  color: #ff0000;
}
.navbar-brand {
  font-weight: bold;
}
.mynav {
  list-style: none;
}
.mynav li a {
  color: white;
  font-size: 1rem;
}
.mynav li a:hover {
  background: white;
  color: red;
  border-radius: 5px;
}
.nav-item .active {
  background: white;
  color: red;
  border-radius: 5px;
}
.waitercallbtn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 999px;
}
.waitercallbtn:hover {
  background-color: white;
  color: red;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 999px !important;
}
.menubtn {
  background-color: white;
  border-radius: 4px;
}
.sidebar-link {
  text-decoration: none;
  color: rgb(36, 34, 34);
  fill: rgb(36, 34, 34);
  text-align: center;
  margin-top: 1.5rem;
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
  font-weight: 600;
}
.sidebar-link:hover {
  color: white;
  background-image: linear-gradient(90deg, #ff0045, #ff9300);
}
.sidebar-link:hover svg {
  fill: white !important;
  color: white !important;
}
.side-icon {
  height: 30px;
  width: 30px;
}
.active-sidebar {
  background-image: linear-gradient(90deg, #ff0045, #ff9300);
  color: white;
  fill: white !important;
}
.hei {
  position: sticky;
  top: 4.85rem;
  left: 0;
  height: 90vh;
}
.hei2 {
  position: sticky;
  top: 4.85rem;
  right: 0;
  height: 90vh;
}
.hei3 {
  position: sticky;
  top: 4.7rem;
  z-index: 1 !important;
}
.rounded-mine {
  border-radius: 8px !important;
}
.w-mine {
  max-width: 100px;
}
.card-img-top {
  height: 170px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.left-cart-image {
  height: 50px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 3px !important;
}
.fss {
  font-size: 1rem;
}
.bg-red {
  background-color: red;
}
.btn-mine {
  background-color: rgba(255, 0, 0, 0.075);
  color: red;
  font-weight: 600 !important;
  border-radius: 5px !important;
  /* padding: 0.65rem; */
}
.btn-outline-danger:hover,
.btn-mine:hover {
  background-color: rgba(255, 0, 0, 0.164);
  color: red;
}
.btn-mine-success {
  background-color: rgba(41, 139, 21, 0.164);
  color: rgb(20, 112, 66);
  font-weight: 600;
  border-radius: 5px !important;
  /* padding: 0.65rem; */
}
.btn-mine-success:hover,
.btn-mine-success:focus {
  background-color: rgb(20, 112, 66);
  color: rgb(255, 255, 255);
  border-color: rgb(20, 112, 66);
}
.cart-button {
  position: relative;
}
.cart-button-inside {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  background: white;
  color: red;
  box-shadow: 0 0rem 1rem rgba(130, 133, 133, 0.175) !important;
}
.sidebar-title {
  font-size: 0.7rem;
}
.card-title {
  font-size: 1rem;
}
.card-text {
  font-size: 0.8rem;
}
.offcanvas-end {
  top: 4.7rem;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}
.quantity button {
  font-size: 1.5rem !important;
  padding-top: 0;
  padding-bottom: 0;
}
.normal-link {
  color: black;
  border-bottom: 2px solid black;
  text-decoration: none;
}

.normal-link:hover {
  color: red;
  border-bottom: 2px solid red;
  text-decoration: none;
}
.tabh {
  max-height: 300px !important;
  overflow: scroll;
  position: relative;
  -moz-box-shadow: inset 0 -80px 80px -80px #00000028;
  -webkit-box-shadow: inset 0 -80px 80px -80px #00000028;
  box-shadow: inset 0 -80px 80px -80px #00000028;
}
table tr th {
  font-weight: 500 !important;
}
.sticky-mine {
  position: sticky;
  bottom: 0rem !important;
}
.deletebtn {
  background-color: white;
  color: red;
  font-weight: 500;
  border-radius: 3px !important;
}
.deletebtn:hover {
  color: red;
  font-weight: 500;
}
.fields {
  background-color: #f8f9fa;
  border: none;
}
.fields:focus {
  background-color: #f5f5f5;
  border: none;
}

.image.floating {
  animation: fade-out-in-right 1s linear 0s 1 normal forwards;
  position: absolute;
  right: 10px;
  top: 100px;
  height: 60px;
  width: 60px;
  z-index: 999999999;
  border-radius: 8px !important;
}

@keyframes fade-out-in-right {
  0% {
    transform: translateX(-100px) translateY(50px);
    opacity: 0;
  }
  80% {
    transform: translateX(-20px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

.small-cart-img {
  height: 80px !important;
  width: 100px !important;
  object-fit: cover;
  object-position: center;
  border-radius: 4px !important;
}
.avatar {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
}
.small-text {
  font-size: 0.9rem;
}
.mess {
  height: 100px !important;
}
.accordion-button:not(.collapsed) {
  background: rgba(255, 0, 0, 0.075) !important;
  color: red;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(180deg);
}
.rightbar {
  width: 600px;
  position: fixed;
  right: 0;
  top: 4rem;
  height: 100vh;
  background-color: white;
  z-index: 3 !important;
}
.hehe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: fade 0.4s forwards;
  animation: fade 0.4s forwards;
  content: "";
  z-index: 2;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.smallcart {
  height: 30px;
  width: 30px;
}
.slide-left {
  right: -600px;
  -webkit-animation: slide 0.4s forwards;
  animation: slide 0.4s forwards;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  object-fit: cover;
  object-position: center;
}
.myadbox {
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, red, yellow);
  z-index: 9998;
}
.hidden {
  display: none;
}
.closea {
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 9999;
}
.swiper-container {
  width: 600px;
  height: 300px;
}
.mujiimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.mess {
  padding: 2rem 1rem;
}
.mess:focus {
  outline-color: black;
}
@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@-webkit-keyframes fade {
  100% {
    background: rgba(0, 0, 0, 0.568);
  }
}
